.intro{
    height: 100vh; width: 100vw;
    display: flex; flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: white;
}

.introBg{
    /* width: auto; height: 100vh; */
    object-fit: cover;
    position:fixed;
    z-index: -1;
    filter: blur(5px);
}