/* JetBrains Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
/* Major Mono Display */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.para{
    /* To apply font. */
    font-family: 'JetBrains Mono', monospace; 
    padding-left: 2vw;
    padding-right: 2vw;
}

.body{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(120, 120, 120);
    background-color:rgb(20, 20, 20);
    overflow-x: hidden;
}

.mainsection{
position:relative; /*To center the section*/
display: flex; /*Create the flexbox*/
flex-direction: column; /*To create the flexbox's vertical layout.*/
align-items: center; /*To align the content vertically*/
justify-content: center; /*To align the content horizontally*/
width:100vw; /*Self-Explanatory*/
height:100vh; /*Self-Explanatory*/
background-repeat: no-repeat; /*To not tile the background*/
background-position: center; /*To keep the background centered*/
background-size: cover; /*Type of background, to cover the entire section*/
background-image: url('/svg/blob-scene-haikei.svg'); /*Background*/
aspect-ratio: 19, 9; /*Aspect Ratio of Background*/
font-size: xx-large;/*Font Sizee*/
font-family: 'Major Mono Display', monospace;/*Font Style*/
color: white;/*Font Colour*/
}

.transition{
    background-image: url("/svg/wave-haikei-transition.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.footer{
    position: relative;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/svg/layered-waves-haikei.svg');
    padding-left: 1vw;
    /* Text Stuff */
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: small;
}

.footericons{
    padding-left: 2vw;
    padding-top: 0vh;
    padding-bottom: 1vh;
    flex-direction: row;
}


/* When highlighted */
::selection{ /* When selected */
    background-color: rgb(33, 56, 156); /* Change Highlight colour for Webkit/Blink browsers (Chrome n stuff) */
    color: rgb(20, 20, 20); /* Change the text colour to background colour */
}

::-moz-selection{ /* When selected */
    background-color: rgb(33, 56, 156); /* Change Highlight colour for Gecko engine Browers. (Firefox) */
    color: rgb(20, 20, 20); /* Change the text colour to background colour */
}

/*  */





