/* JetBrains Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
/* Major Mono Display */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* Bungee Shaded */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
/* Bungee Inline */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');


/* Design for Mobile First */
.para{
    /* To apply font. */
    font-family: 'JetBrains Mono', monospace; 
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
}

.mainsection{
    text-align: center;
    position:relative; /*To center the section*/
    display: flex; /*Create the flexbox*/
    flex-direction: column; /*To create the flexbox's vertical layout.*/
    align-items: center; /*To align the content vertically*/
    justify-content: center; /*To align the content horizontally*/
    width:100vw; /*Self-Explanatory*/
    height:100vh; /*Self-Explanatory*/
    background-repeat: no-repeat; /*To not tile the background*/
    background-position: center; /*To keep the background centered*/
    background-size: cover; /*Type of background, to cover the entire section*/
    background-image: url('/svg/blob-scene-haikei.svg'); /*Background*/
    aspect-ratio: 19, 9; /*Aspect Ratio of Background*/
    font-size: xx-large;/*Font Sizee*/
    font-family: 'Major Mono Display', monospace;/*Font Style*/
    color: white;/*Font Colour*/
    animation-name: mainsec;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    overflow-x: hidden;
    }

.body{
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    color: rgb(120, 120, 120);
    background-color:rgb(20, 20, 20);
    overflow-x: hidden;
}
.heading1{
    font-family: 'Bungee Inline', cursive;
    font-weight: lighter;
    padding-left: 2vw;
}

.projectTiles{ /* The Black Background and Text which the DIV compliments (The Image) Seperate Div so Border and link work. */
    height:200px;
    width: 150px;
    background-color: rgb(15, 15, 15);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;/* Curved Edges */
    text-align: center;
    color: rgb(120, 120, 120);
    text-decoration: none;
    padding: 4px; /* The Border size. */
    margin-left: 5px; /* Spacing Between Tiles */
    
    
}
.projectTilesDiv{ /* The Div insive the Project Tiles (The Black Background). Seperate Div so Border and link work. */
    height:200px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px; /* Curved Edges */
    color: rgb(120, 120, 120);
    text-decoration: none;
}

.projects{
    display: flex;
    flex-direction: row;
    padding-left: 4vw;
}

.footer{
    position: relative;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/svg/layered-waves-haikei.svg');
    padding-left: 1vw;
    /* Text Stuff */
    font-family: 'JetBrains Mono', monospace;
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

.footericons{
    padding-left: 2vw;
    padding-top: 0vh;
    padding-bottom: 1vh;
    flex-direction: row;
    
}

.transition{
    background-image: url("/svg/wave-haikei-transition.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* When highlighted */
::selection{ /* When selected */
    background-color: rgb(33, 56, 156); /* Change Highlight colour for Webkit/Blink browsers (Chrome n stuff) */
    color: rgb(20, 20, 20); /* Change the text colour to background colour */
}

::-moz-selection{ /* When selected but for Firefox*/
    background-color: rgb(33, 56, 156); /* Change Highlight colour for Gecko engine Browers. (Firefox) */
    color: rgb(20, 20, 20); /* Change the text colour to background colour */
}




/* Design for Mobile first */
/* Design For Desktop Below */
@media screen and (min-width: 600px){
    
.mainsection{
    /* text-align: left; */
}

.para{
    text-align: left;
}

.projects{
    background-color: rgb(20, 20, 20);
}

.sfm{
    background-color: black;
}

.footericons{
    text-align: left;
}

.footer{
    text-align: left;
}

}

/* Link Colours */
.projectTiles:link{ /* Unvisited Link */
    color: rgb(120, 120, 120);
    text-decoration: none;
}
.projectTiles:visited{ /* Visited Link */
    color: rgb(120, 120, 120);
    text-decoration: none;
}
.projectTiles:active{ /* When Link is Activated */
    color: rgb(120, 120, 120);
    text-decoration: none;
}


/* On Hover Anim */
.mainsection:hover{
    background-position: 10px, 10px;
    }

.projectTilesDiv:hover{ /* The Project Tile Image Animations */
    background-size: 300%;
    text-decoration: underline;
    height: 202px;
    width:  152px;
}




/* CSS Animating */

@keyframes mainsec{
    0% {
        color: rgb(20, 20, 20);
        padding-left: 10%;
    }

    90% {
        color: rgb(255, 255, 255);
    }

    100%{
        padding-right: 0%;
    }
}


