/* Major Mono Display */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
/* IBM Plex Mono weight 300 */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

.Heading {
    font-family: 'Major Mono Display', monospace;
    color: white;
    text-align: left;
    margin-left: 6vw;
    margin-top: 20vw;
    font-weight: bold;
    font-size:40px;
    
    /* height: 100vh; */
    /* line-height: 70vh; */
    
}

/* Text Body */
.parabody1 {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-align: right;
    line-height: 1;
    object-fit: contain;
    margin-left: 10vw;
    font-weight: lighter;
}



.background {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) 
                        ,url("/images/GradientBGToyota.jpg");
    background-color: rgb(15, 15, 15);
    background-size: cover;
    background-position: center center;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.section2 {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
                        ,url("/images/Screenshot_as_bmw_m3_g80_highforce_28-3-122-19-52-29.jpg");
    background-color: rgb(15, 15, 15);
    background-size: cover;
    background-position: center center;
    height: 50%;
    position:absolute;
    width: 99%;
    display: table-cell;
}

em{
    color: rgb(24, 92, 218);
    font-style:normal;
}


body {
    /* Background Config */

    /* background-image: url("images/Screenshot_ddm_toyota_mr2_sw20_shuto_shuto_revival_project_beta_26-5-122-22-19-19.jpg");
    background-size:100vw, 100vh; */

    background-color:rgb(15, 15, 15)
}

